.container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  min-width: 300px; }

p {
  color: #555;
  clear: both; }

form {
  float: left;
  display: block;
  width: 100%;
  position: relative; }
  form fieldset {
    float: left;
    position: relative;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 8px;
    border-style: solid;
    border-color: #E0E0E0;
    border-width: 2px;
    background: #fff;
    margin-top: 20px;
    background: #ffffff;
    /* W3C */ }
    form fieldset legend {
      text-align: center;
      float: left;
      display: block;
      width: 100%;
      position: relative;
      border-bottom: 1px solid #dfdfdf;
      top: 0;
      left: 0;
      clear: both;
      margin-bottom: 20px;
      padding-bottom: 10px;
      line-height: 30px;
      color: #444;
      text-shadow: 0 1px 0 #fff; }
    form fieldset.beta, form fieldset.charlie {
      display: none; }
    form fieldset .setting-button {
      float: left;
      display: block;
      margin-bottom: 10px;
      width: 100%;
      clear: both; }
    form fieldset .list {
      float: left;
      display: block;
      width: 100%;
      margin-bottom: 10px; }
      form fieldset .list h5 {
        margin: 5px; }
      form fieldset .list:last-child {
        margin-bottom: 0px; }
    form fieldset input {
      float: left;
      width: 100%;
      padding: 6px 6px;
      font-size: 14px;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      border: 1px solid #dedede;
      border-radius: 5px;
      box-shadow: 0 0 0 transparent, inset 0 0 5px #eee; }
      form fieldset input:focus {
        outline: none;
        border: 1px solid #94C4FF;
        box-shadow: 0 0 10px #94C4FF;
        -webkit-transition: all 0.2s ease-in-out; }
        form fieldset input:focus::-webkit-input-placeholder {
          opacity: 0.5; }
    form fieldset .setting-button {
      margin-top: 20px; }
      form fieldset .setting-button a.button-delete {
        display: block;
        height: 100%;
        padding: 0;
        background: #FA776A;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        font-size: 1.2em;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 400;
        color: #fff;
        border: 1px solid #94C4FF;
        border-radius: 5px;
        box-shadow: 0 0 0 transparent;
        float: left; }
      form fieldset .setting-button a.button-change {
        display: block;
        height: 100%;
        padding: 0;
        background: #58B957;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        font-size: 1.2em;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 400;
        color: #fff;
        border: 1px solid #94C4FF;
        border-radius: 5px;
        box-shadow: 0 0 0 transparent;
        float: left; }

/*# sourceMappingURL=form.css.map */
