body {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
            font-size: 10pt;
            .nav {}
            ul {
                list-style: none;
            }
        }
        /*===================== searchbar-application ======================*/
        
        .searchbar-application {
            height: 45px;
            width: 100%;
            background-color: white;
            top: 50px;
            z-index: 2012;
            h4 {
                margin-left: 25px;
                padding: 5px;
            }
            .form-control {
                width: 15%;
            }
            .input-group {
                top: 15px;
                margin-left: 25px;
                width: 30%;
                float: left;
            }
            .form-control {
                position: relative;
                z-index: 2;
                float: left;
                width: 160px;
                background: #ffffff;
                box-shadow: inset 0px 1px 0px 0px #ECECEC;
            }
        }
        /*===================== application-section ======================*/
        
        .application-section {
            .search-application:hover .close-icon{ position: absolute;
                   right: 41%;
                    bottom: 17px;
                    color: white;
                    display: block;}
            .search-application {
                padding-left: 25px !important;
                position: fixed;
                z-index: 2003;
                margin-top: 0px;
                color: gray;
                padding: 8px;
                background-color: rgb(38, 62, 91);
                width: 100%;
                .search-icon {
                    position: absolute;
                   left: 40px;
                    bottom: 17px;
                }
                .close-icon { position: absolute;
                   right: 41%;
                    bottom: 17px;
                    color: white;
                    display: none;}
                    
                input {
                    text-indent: 30px;
                    border-radius: 5px;
                    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
                    border: 1px solid rgb(204, 204, 204);
                    box-shadow: 0px 1px 0px 0px rgb(236, 236, 236) inset;
                    margin: 5px;
                    width: 15%;
                }
            }
            #application {
                ul {
                    list-style: none;
                }
                li {
                    padding-right: 0px;
                    color: white;
                    
                    button{margin: 30px;
width: 70%;  }
                    
                    button:focus {outline: none;}
                    button:active {background: none;}
                }
                a {
                    text-decoration: none;
                    p {
                        background-color: rgb(62, 104, 148);
                        color: white;
                        text-align: center;
                        border-radius: 3px;
                        padding: 5px;
                        font-size: 14px;
                        width: 100%;
                    }
                }
                a:focus {
                    outline: none;
                }
                a:hover {
                    p {
                        background-color: none;
                    }
                }
            }
        }
        /*===================== rule-section ======================*/
        
        .rule-section {
              .search-role:hover .close-icon{ position: absolute;
                   right: 41%;
                    bottom: 17px;
                    display: block;}
            .search-role {
                padding-left: 25px !important;
                position: fixed;
                z-index: 2003;
                margin-top: 0px;
                color: gray;
                padding: 8px;
                background-color: #E3E3E3;
                width: 100%;
            }
                .search-icon {
                    position: absolute;
                   left: 40px;
                    bottom: 17px;
                }
                .close-icon { position: absolute;
                   left: 38%;
                    bottom: 17px;
                    display: none;
                   }
            input {
                text-indent: 30px;
                border-radius: 5px;
                background: rgb(255, 255, 255) none repeat scroll 0% 0%;
                border: 1px solid rgb(204, 204, 204);
                box-shadow: 0px 1px 0px 0px rgb(236, 236, 236) inset;
                margin: 5px;
                width: 200px;
            }
            #application {
                
                li{ button{margin: 30px;
width: 70%;}
                a {
                    text-decoration: none;
                    p {
                        background-color: rgb(62, 104, 148);
                        color: white;
                        text-align: center;
                        border-radius: 3px;
                        padding: 5px;
                        font-size: 14px;
                        width: 100%;
                    }
                }
                a:focus {
                    outline: none;
                }
                a:hover {
                    p {
                        background-color: #FAC369;
                    }
                }
                }
            }
        }
        /*===================== assigned-section ======================*/
        
        .assigned-section {
           
               .search-assigned:hover  .close-icon { position: absolute;
                   left: 18%;
                   font-size: 20px;
                    bottom: 17px;
                    display: block;
                   }           
            .search-assigned {
                padding-left: 25px !important;
                position: fixed;
                z-index: 2003;
                margin-top: 0px;
                color: gray;
                padding: 8px;
                background-color: #F7F7F7;
                width: 100%;
            }
                .search-icon {
                    position: absolute;
                   left: 40px;
                    bottom: 17px;
                }
                
                .close-icon { position: absolute;
                   left: 18%;
                   font-size: 20px;
                    bottom: 17px;
                    display: none;
                   }
            input {
                text-indent: 30px;
                border-radius: 5px;
                background: rgb(255, 255, 255) none repeat scroll 0% 0%;
                border: 1px solid rgb(204, 204, 204);
                box-shadow: 0px 1px 0px 0px rgb(236, 236, 236) inset;
                margin: 5px;
                width: 200px;
            }
            #application {
                ul {
                    li {
                        width: 200px;
                        color: #0088CC;
                        background-color: #D9EDF7;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        padding-left: 12px;
                        border-bottom: 1px solid #f2f2f2;
                            margin-top: 15px;
                        border-radius: 5px;
                        overflow-y: auto;
                    }
                    .group-tab {background: none;
                    overflow-x: visible;
                    padding-left: 0px;
                    
                        span {color: rgb(121, 120, 119); font-size: 11px; margin: 0px; float: right;}
                        
                        .panel-style{
                            width: 200px; color: rgb(39, 73, 115); background-color: rgb(245, 245, 245); padding-top: 2px; margin-top: 15px; border-radius: 5px; overflow-y: auto; border: 1px solid rgb(217, 217, 217); padding-bottom: 2px; padding-left: 12px;}
                        
                        .group-member {
                            color: rgb(0, 136, 204); background-color: rgb(217, 237, 247); padding-top: 2px; border-bottom: 1px solid rgb(242, 242, 242); border-radius: 5px; overflow-y: auto; margin-top: 15px; width: 180px; padding-bottom: 2px; margin-left: 12px;
                        
                            a {
                                color: rgb(0, 136, 204); margin-left: 12px; background-color: rgb(217, 237, 247); padding-top: 2px; border-bottom: 1px solid rgb(242, 242, 242); border-radius: 5px; overflow-y: auto; margin-top: 15px; width: 180px; padding-bottom: 2px}
                        }
                    
                    }
                    
                }
            }
        }
        /*===================== comtrol-panel ======================*/
        
        .control-panel {
            height: 100vh;
            border-left-color: #E0E0E0;
            border-bottom: none;
            background: white;
            padding-top: 5px;
            width: 40%;
            position: fixed;
            margin: auto;
            box-shadow: 0px -1px 2px 1px rgba(0, 0, 0, 0.2);
            z-index: 2010;
        }
        
        #bookmark {
            width: 80%;
            h4 {
                margin-left: 20px;
            }
        }
        
        .col-md-6 {
            .input-group {
                float: right;
            }
        }
        
        .background-white {
            background: white;
            position: fixed;
            z-index: 2010;
            left: 40%;
            height: 100%;
        }
        
        .background-gray {
            background-color: #F5F5F5;
            position: fixed;
            z-index: 2010;
            left: 20%;
            height: 100%;
        }
        
        .background-blue {
            background: #294B74;
            /*
    box-shadow: inset 0px 0px 11px 4px #0A315F;*/
            position: fixed;
            height: 100%;
            z-index: 2010;
            left: 0%;
        }