body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-size: 10pt; }
  body ul {
    list-style: none; }

/*===================== searchbar-application ======================*/
.searchbar-application {
  height: 45px;
  width: 100%;
  background-color: white;
  top: 50px;
  z-index: 2012; }
  .searchbar-application h4 {
    margin-left: 25px;
    padding: 5px; }
  .searchbar-application .form-control {
    width: 15%; }
  .searchbar-application .input-group {
    top: 15px;
    margin-left: 25px;
    width: 30%;
    float: left; }
  .searchbar-application .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 160px;
    background: #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ECECEC; }

/*===================== application-section ======================*/
.application-section .search-application {
  padding-left: 25px !important;
  position: fixed;
  z-index: 2003;
  margin-top: 0px;
  color: gray;
  padding: 8px;
  background-color: #263e5b;
  width: 100%; }
  .application-section .search-application i {
    position: absolute;
    left: 40px;
    bottom: 17px; }
  .application-section .search-application input {
    text-indent: 30px;
    border-radius: 5px;
    background: white none repeat scroll 0% 0%;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 0px 0px #ececec inset;
    margin: 5px;
    width: 15%; }
.application-section #application ul {
  list-style: none; }
.application-section #application li {
  padding-right: 0px;
  color: white; }
  .application-section #application li button {
    margin: 30px;
    width: 70%; }
  .application-section #application li button:focus {
    outline: none; }
  .application-section #application li button:active {
    background: none; }
.application-section #application a {
  text-decoration: none; }
  .application-section #application a p {
    background-color: #3e6894;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    width: 100%; }
.application-section #application a:focus {
  outline: none; }
.application-section #application a:hover p {
  background-color: none; }

/*===================== rule-section ======================*/
.rule-section .search-role {
  padding-left: 25px !important;
  position: fixed;
  z-index: 2003;
  margin-top: 0px;
  color: gray;
  padding: 8px;
  background-color: #E3E3E3;
  width: 100%; }
.rule-section i {
  position: absolute;
  left: 40px;
  bottom: 17px; }
.rule-section input {
  text-indent: 30px;
  border-radius: 5px;
  background: white none repeat scroll 0% 0%;
  border: 1px solid #cccccc;
  box-shadow: 0px 1px 0px 0px #ececec inset;
  margin: 5px;
  width: 200px; }
.rule-section #application li button {
  margin: 30px;
  width: 70%; }
.rule-section #application li a {
  text-decoration: none; }
  .rule-section #application li a p {
    background-color: #3e6894;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    width: 100%; }
.rule-section #application li a:focus {
  outline: none; }
.rule-section #application li a:hover p {
  background-color: #FAC369; }

/*===================== assigned-section ======================*/
.assigned-section .search-assigned {
  padding-left: 25px !important;
  position: fixed;
  z-index: 2003;
  margin-top: 0px;
  color: gray;
  padding: 8px;
  background-color: #F7F7F7;
  width: 100%; }
.assigned-section i {
  position: absolute;
  left: 40px;
  bottom: 17px; }
.assigned-section input {
  text-indent: 30px;
  border-radius: 5px;
  background: white none repeat scroll 0% 0%;
  border: 1px solid #cccccc;
  box-shadow: 0px 1px 0px 0px #ececec inset;
  margin: 5px;
  width: 200px; }
.assigned-section #application ul li {
  width: 200px;
  color: #0088CC;
  background-color: #D9EDF7;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  border-bottom: 1px solid #f2f2f2;
  margin-top: 15px;
  border-radius: 5px;
  overflow-y: auto; }
.assigned-section #application ul .group-tab {
  background: none;
  overflow-x: visible;
  padding-left: 0px; }
  .assigned-section #application ul .group-tab span {
    color: #797877;
    font-size: 11px;
    margin: 0px;
    float: right; }
  .assigned-section #application ul .group-tab .panel-style {
    width: 200px;
    color: #274973;
    background-color: whitesmoke;
    padding-top: 2px;
    margin-top: 15px;
    border-radius: 5px;
    overflow-y: auto;
    border: 1px solid #d9d9d9;
    padding-bottom: 2px;
    padding-left: 12px; }
  .assigned-section #application ul .group-tab .group-member {
    color: #0088cc;
    background-color: #d9edf7;
    padding-top: 2px;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 5px;
    overflow-y: auto;
    margin-top: 15px;
    width: 180px;
    padding-bottom: 2px;
    margin-left: 12px; }
    .assigned-section #application ul .group-tab .group-member a {
      color: #0088cc;
      margin-left: 12px;
      background-color: #d9edf7;
      padding-top: 2px;
      border-bottom: 1px solid #f2f2f2;
      border-radius: 5px;
      overflow-y: auto;
      margin-top: 15px;
      width: 180px;
      padding-bottom: 2px; }

/*===================== control-panel ======================*/
.module {
 display: none;
}
.control-panel {
  height: 100vh;
  border-left-color: #E0E0E0;
  border-bottom: none;
  background: white;
  padding-top: 5px;
  width: 40%;
  position: fixed;
  margin: auto;
  box-shadow: 0px -1px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 2010; }

#bookmark {
  width: 80%; }
  #bookmark h4 {
    margin-left: 20px; }

.col-md-6 .input-group {
  float: right; }

.background-white {
  background: white;
  position: fixed;
  z-index: 2010;
  left: 40%;
  height: 100%; }

.background-gray {
  background-color: #F5F5F5;
  position: fixed;
  z-index: 2010;
  left: 20%;
  height: 100%; }

.background-blue {
  background: #294B74;
        /*
box-shadow: inset 0px 0px 11px 4px #0A315F;*/
  position: fixed;
  height: 100%;
  z-index: 2010;
  left: 0%; }

/*# sourceMappingURL=mockup.css.map */
